* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
  
    width: 100%;
    height: 100%;
  
    text-align: center;
    font-family: Open sans, sans-serif;
    
    background-color: #8A71C9;
    color:#ffffff;
    
  }
  
  img {
    width: 25rem;
  }
  
  h1 {
    font-size: 3.5rem;
    font-weight: 600;
    margin: 1.5rem;
  }
  
  h2 {
    color: #2a0074;
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.3rem;
    font-style: italic;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  p, h3, h2 {
    margin: 1rem;
  }
  
  .titulo-verde {
    color: #04ff9f;
  }
  
  .titulo-vermelho {
    color: #FF9E9E;
  }
  
  .titulo-amarelo {
    color: #ffe36d;
  }
  
  main {
  
    width: 90%;
    margin: 0 auto;
    
  }
  
  ul {
    list-style-type: none;
    line-height: 2;
  }
  
  a {
    text-decoration: none;
    color: #99ffff;
    font-weight: 700;
    
  }

  footer {

    width: 100%;
    margin: 0;

    font-size: 10px;

    margin-top: 5rem;
    text-align: center;
  }

  .icon-footer {
    width: 20px;
  }

  .principal ul li a {

    color: #ffffff;
  }

  .principal ul {

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 90%;
    margin: 0 auto;

    background-color: #FF6CB5;
    color: #FFF;
  }

  .principal li {
    line-height: 2.5;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  
  }

  button {
    background-color: #ffe36d;
    padding: 0 0.9rem 0 0.9rem;

    border: 1px solid transparent;
    border-radius: 5%;
  }