* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
  
    width: 100%;
    height: 100%;
  
    text-align: center;
    font-family: Open sans, sans-serif;
    
    background-color: #8A71C9;
    color:#ffffff;
    
  }
  
  img {

    width: 20rem;
  }

  img:hover {
    transform: scale(1.3);
    transition: 0.6s;

  }
  
  h1 {
    font-size: 3.5rem;
    font-weight: 600;
    margin: 1.5rem;
  }
  
  h2 {
    color: #2a0074;
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.3rem;
    font-style: italic;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  p, h3, h2 {
    margin: 1rem;
  }
  
  .titulo-verde {
    color: #04ff9f;
  }
  
  .titulo-vermelho {
    color: #FF9E9E;
  }
  
  .titulo-amarelo {
    color: #ffe36d;
  }
  
  main {
  
    width: 90%;
    margin: 0 auto;
    
  }
  
  ul {
    list-style-type: none;
    line-height: 2;

    margin-bottom: 2rem;
  }
  
  a {
    text-decoration: none;
    color: #99ffff;
    font-weight: 700;
    
  }

  footer {

    width: 100%;
    margin: 0;

    font-size: 10px;

    margin-top: 5rem;
    text-align: center;
  }

  .icon-footer {
    width: 20px;
  }

  .principal ul li a {

    color: #ffffff;
    
  }

  .principal ul li:hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  .principal ul {

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 90%;
    margin: 0 auto;

    background-color: #FF6CB5;
    color: #FFF;

    border-radius: 15px;
  }

  .principal li {
    line-height: 2.5;
  }

  form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  
  }

  h4 {
    margin-bottom: 1.8rem;
  }

  button {
    background-color: #FF9E9E;
    color: whitesmoke;
    padding: 0 0.9rem 0 0.9rem;
    margin: 1.5rem;

    font-weight: bold;
    font-size: 1rem;

    border: 1px solid transparent;
    border-radius: 10px;

    height: 1.8rem;    
    width: 7.5rem;
  }

  button:hover {
    cursor: pointer;
    transform: scale(1.1);
  }


  input {

    width: 15rem;
    height: 1.8rem;

    border-radius: 15px;

    margin: 0.5rem;
  }

  @media (min-width: 900px) {

    main {
      max-width: 60%;
    }

    .principal {
      max-width: 66%;
      margin: 0 auto;
    }

    img {
      width: 30rem;
    }
  }